<html>
<head>
	<title>Ruby Generator Blah Blah</title>
<body>
	<div>
	<h1>Mike D Homepage</h1>
	<p> Here is some content lorem ipsum content ......</p>
</hr>
<ul>
	<% ["HTML", "Javascript", "Ruby", "C++"].each do |language| %>
	<li> I like <%= language %></li>
	<% end %>
</ul>